{{ define "main" }}

<header class="breadCrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 offset-lg-1 offset-md-0 text-center">
        <h3 class="breadCrumb__title">{{ .Title }}</h3>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
          <ol class="breadcrumb align-items-center">
            <li class="breadcrumb-item"><a href={{ .Site.BaseURL }}>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</header>

<section class="section singleBlog">
  <div class="svg-img">
      <img src={{ "images/hero/figure-svg.svg" | absURL }} alt="">
  </div>
  <div class="animate-shape">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
          <defs>
              <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
                  <stop offset="0" stop-color="#f1f6f9" />
                  <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
              </linearGradient>
          </defs>
          <g data-name="blob-shape (3)">
              <path class="blob" fill="url(#d)"
                  d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
          </g>
      </svg>
  </div>
  <div class="animate-pattern">
      <img src={{ "images/Grid.svg" | absURL }} alt="background-shape">
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Help us spread the word on Right to Repair</h4>
              <h6 class="card-subtitle text-muted">Repair Preservation Group, 501c3</h6>
                </br>
              <form id="donation">

                <div class="justify-content-center align-items-center">
                  <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text text-muted">$</span>
                    </div>
				        	  <input type="number" class="form-control" min="0.55" step="any" name="amount" id="amount" placeholder="4.99"/>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text text-muted">@</span>
                    </div>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email" />
                  </div>

				        </div>
                <div class="col text-center">
                 <button type="submit" class="btn btn-success"><span class="font-weight-normal text-capitalize">Donate 💰</span></button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
          <div class="col-lg-12">
              <div class="singleBlog__content">
                  {{ .Content }}
              </div>
          </div>
      </div>
  </div>
</section>

<script src="https://js.stripe.com/v3/"></script>
<script>
  async function stripeCheckout(form) {
		const data = {
      price: form.get('amount'),
      email: form.get('email'),
    };

		const responseStripe = await fetch('/.netlify/functions/create-checkout', {
			method: 'POST',
			headers: { 'content-type': 'application/json' },
			body: JSON.stringify(data)
    });

		const { publishableKey, sessionId } = await responseStripe.json();

		const stripe = Stripe(publishableKey);

		const { error } = await stripe.redirectToCheckout({ sessionId });

		if (error) {
      throw error;
		}
	}

	document.getElementById('donation').addEventListener('submit', event => {
    event.preventDefault();
    const form = new FormData(event.target);

    stripeCheckout(form)
      .catch(e => {
        console.error(e);
        window.location.replace('/checkout/oops');
      });
  });
</script>


{{ end }}
